* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family:verdana;
  font-size:13px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  max-height: 1000px;
}

/*Navigation & header CSS*/
nav {
width: 100%;
height: 33px;
background-color: #8a6348;
text-align: center;
}

ul li {
  list-style: none;
  display: inline-block;
  float:center;
  line-height: 35px;
}

ul li a {
  display: block;
  font-size: 13px;
  font-family: arial;
  color: white;
  padding: 0 15px;
  letter-spacing: .75px;
  text-transform: uppercase;
}

ul li a:hover {
  color: #e8ccba;
  background-color: #61422e;
}

.logo {
	font-family: Garamond, serif;
	font-weight: bold;
	font-size: 35px;
	color: #61422e;
	position: relative;
	}

.header {
  padding: 15px;
  background-image: url();
  background-color: #f1e8dc;

}

.nav li{
    display: inline;
}

.nav a{
    display:inline-block;
    padding: 10px;
}

.image-text-overlay-h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family:garamond;
	font-size: 40px;
	color: white;
	font-weight: bold;
	background: #8a6348;
	padding: 10px;
	}

/* Homepage and category banner text overlay */
.image-text-overlay-body {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family:verdana;
	font-size: 20px;
	background: white;
	padding: 10px;
	}

/* Homepage and category banner text overlay */
@media screen and (max-width: 750px) {
.image-text-overlay-body {
    top: 80%;
  }
}

.image-form-overlay {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family:verdana;
	font-size:16px;
	background:tan;
	padding: 10px;
	}

/* Product image & text grid CSS */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* 2 up image text grid */
.column-2-up {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}

.column img {
  margin-top: 8px;
  width: 100%;
}

/* 2-up Responsive layout - makes a one column-layout instead of two columns */
@media screen and (max-width: 600px) {
.column-2-up {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Create four equal columns that sit next to each other */
.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding:  25px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.button {
	font-family:verdana;
	background-color: #654321;
	border: none;
	font-size: 14px;
	padding: 10px 15px;
	color: white;
}

.body-text {
	text-align: left;
	font-family: verdana;
	font-size: 14px;
	width: 95%;
	margin: 50px;
}

a {
	text-decoration: none;
	color: white;
}

h1, h2 {
	text-align: center;
	font-family: garamond;
	font-size: 35px;
	color: tan;
 	padding: 10px;
	}

h3 {
	text-align: center;
	font-family: verdana;
 	font-weight: bold;
	font-size: 13px;
  	padding-top: 8px;
	padding-bottom: 5px;
}

table{
	font-family: verdana;
	font-size: 14px;
	width: 95%;
	margin: 50px;
	border: 1px solid #C6C6C6;
	border-collapse: collapse;
}

td, th {
	text-align: center;
	font-family: verdana;
	border: 1px solid #C6C6C6;
	height: 50px;
	padding: 25px;
	}

footer {
  	width: 100%;
  	background-color: tan;
  	padding: 50px;
  	margin: 0px;
  	}

#div1, #div2, #div3, #div4, #div5, #div6 {
      float:left;
      width: 200px;
      height: 200px;
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
      font-size: 100px;
    }

  #div1 {
    background: #CEF1E3;
  }

  #div2 {
    background: #F2DEE8;
  }

  #div3 {
    background: #F4F8C9;
  }

  #div4 {
    background: #EEE2CC;
  }

  #div5 {
    background: #C9EDF8;
  }

  #div6 {
    background: #E7D9F8;
  }
